{% extends "adminPage.twig" %}
{% block content %}
    <div class="left-container">
        {% include 'categoriesAdmin.html' %}
    </div>
    <div class="right-container">
        {% include 'questionsHeaderByCat.html' %}
        {% include 'questionsAdmin.html' %}
    </div>
{% endblock %}
